
/* Globals */

body {
    margin: 0;
    font-family: sans-serif;
}

h1 { font-size: 55px; }
.color-green { color: rgba(0, 128, 0, 0.801); }
.text-center { text-align: center; }

section { margin-top: 70px; }
.p-100 {padding: 0 100px;}

.section {
    display: flex;
    padding: 0px 100px;
}

.half-width {
    padding: 0px 10px;
    width: 50%;
}



/* section 1 */
.focus {
    padding: 0px 15px;
    margin: 30px 0px;
    font-size: 70px;
    color: #4e4e4e;
    border-left: 5px solid rgb(35, 219, 75);
    font-family: 'Abhaya Libre', serif;
}

.mission-details {
    font-weight: 500;
    color: #535353;
    font-size: 18px;
    font-family: sans-serif;
}

.button {
    display: block;
    width: 150px;
    text-align: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    margin: 30px 0px;
    border-radius: 7px;
    background-image: linear-gradient(180deg, rgb(3, 194, 60), rgb(0, 119, 16));
}

.center {
    display: grid;
    place-items: center;
}
.avatar {
    border-radius: 50%;
    box-shadow: 0px 0px 10px gray;
}





/* section 2 */

.year {
    font-family: 'Orbitron', sans-serif;
}
.missions {
    display: flex;
}
.mission {
    width: 33%;
    margin: 20px 10px;
    padding: 20px 30px;
    background-color: red;
    border-radius: 20px;
}
.mission img{
    width: 160px;;
}
.mission1 {background-color: rgba(0, 255, 255, 0.2);}
.mission2 {background-color: rgba(226, 43, 186, 0.2);}
.mission3 {background-color: rgba(128, 255, 0, 0.2);}






/* section 3 and 4 */
.mission-explained {
    width: 60%;
}

.mission-explained-img {
    width: 35%;
}

.mission-explained-img img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 40px;
}

.mission-title {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

.lp-80 {padding-left: 80px;}
.rp-80 {padding-right: 80px;}





/* section 5 */
.item {
    display: flex;
    padding-top: 50px;
}
.item .max {
    height: 20px;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 20px;
}
.item .max .learned {
    height: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.item img {
    width: 32px;
    height: 32px;
}
.item-name {
    margin: 0;
    line-height: auto;
    padding: 0px 20px;
    color: rgb(63, 63, 63);
}

.item1 .max .learned {
    width: 70%;
    background-color: rgb(68, 68, 241);
}
.item2 .max .learned {
    width: 40%;
    background-color: rgb(245, 111, 88);
}
.item3 .max .learned {
    width: 20%;
    background-color: rgb(54, 148, 54);
}




/* footer */
footer {
    background-color: #161616;
    width: 100%;
    padding: 30px;
    color: white;
    text-align: center;
}
footer span {
    color: aqua;
}
footer h1 {
    margin: 0px;
    font-family: 'Vujahday Script', cursive;
}
footer p, footer a {
    margin: 0;
    color: rgb(151, 151, 151);
    text-decoration: none;
}
footer a {
    color: white;
}